<h1>juego del amigo invisible</h1>
<h3>¡Bienvenido!</h3>

<ng-container *ngIf="contactSelected; else noSelected">
  <h4 *ngIf="contactSelected">Tu amigo invisible es: {{contactSelected.name.first}}</h4>
</ng-container>

<ng-template #noSelected>
  <div>
    <p>Selecciona a tu amigo invisible</p>
  </div>
</ng-template>

<button mat-raised-button colors="primary" (click)="goToContacts()">Ver todos tus contactos</button>

<div>
  <p>Filtros:</p>
  <a [routerLink]="['/contacts']" [queryParams]="{sex: 'female'}">Amigas |</a>
  <a [routerLink]="['/contacts']" [queryParams]="{sex: 'male'}">| Amigos</a>
</div>
